# https://github.com/EmincanY

1) 0-29 arası(29 dahil, toplam 30 tam sayı) tam sayılardan oluşan bir boyutlu bir array oluşturun ardından bu array'in shape'ini (15,2) şeklinde güncelleyip 2 boyutlu hale getirin.
2) 60 adet rastgele tam sayı verilerinden oluşan bir boyutlu bir array oluşturun. Devamında bu array'i istediğiniz shapelerde 3 boyutlu hale getirin ve son durumda oluşan array'in boyutunu ve shape'ini kontrol edin.
3) 20 elemanlı ve sadece rakamlardan oluşan iki boyutlu bir array oluşturun. Ardından bu array'i düzleştirin ve tek boyutlu hale getirin ve son durumda oluşan array'in boyutunu ve shape'ini kontrol edin.
4) İstediğiniz herhangi elemanlardan oluşan 2 Boyutlu bir array oluşturun. Oluşturduğunuz bu 2 boyutlu array'in içindeki bütün elemanları hem yavaş yol olan for döngüsüyle hem de daha hızlı yol olan uygun NumPy metoduyla tek tek dönerek ekrana yazdırın.
5) 5,10,15,20,25,30 değerlerinden oluşan bir boyutlu bir array ve
   1,2,3,4,5,6 değerlerinden oluşan başka bir boyutlu bir array oluşturun.
   Bu arraylerinin elemanlarına kendi aralarında 4 işlem uygulayın. İki arrayinde 1.indexindekiler toplansın/çıkartılsın/çarpılsın/bölünsün gibi.
6) 0-100 arası rastgele 10 tam sayıdan oluşan bir array oluşturun ve oluşturulan arrayin sum/mean/max/var/std değerlerini inceleyin.
7) 0-20 arası(20 dahil değil) tam sayılardan oluşan ve 500-530(530 dahil) arası tam sayılardan oluşan 2 array oluşturun. Ardından bu iki array'i concatenate ederek ekrana yazdırın.
8) 15-50(50 dahil) arası tam sayılardan oluşan bir array oluşturun. Daha sonra 10-100 arası(100 dahil) tam sayılardan oluşan 2.bir array oluşturun. Bu 2 arrayi concatanate ederek 3.bir array oluşturun ve bu array'in 25.index ile 50.index'i(50 dahil) arasındaki değerlerini 888 yapın.
9) 0-40(40 dahil değil) arası değerlerden oluşan (8,5) shape'inde 2 boyutlu bir array ve  320-360(360 dahil değil) değerlerinden oluşan (8,5) shape'inde 2 boyutlubaşka bir array oluşturun. Devamında bu iki array'i hem axis = 0'da hem de axis = 1'de concatenate ederek farkı karşılaştırın.
10) 9.Soruda oluşturduğunuz 2 array'i axis = 2'de concatenate etmeye çalışın. Ardından axis = 2'de stacklemeye(yığınlamaya) çalışın. İkisi arasındaki farkı karşılaştırın.
11) [1, 20, 25, 4, 4, 5, 4, 4, 1, 6, 9, 12, 1, 5] değerlerinden oluşan bir boyutlu bir array oluşturun. Devamında bu array'in içinde değeri 5'e eşit olan değerlerin indexleri bulun.
12) Yukarıda oluşturduğunuz array içinde değeri çift olan değerlerin indexlerini bulun.
13) Yukarıda oluşturduğunuz array içinde değeri 4'den büyük olan değerlerin indexlerini bulun.
14) Yukarıda oluşturduğunuz array içinde değeri 5'e tam bölünen değerlerin indexlerini bulun.
15) 85-100(100 dahil) arasından rastgele 1 tam sayı seçin
16) İki basamaklı tam sayılar arasından rastgele sayılar seçerek (3,3) shape'inde bir array oluşturun.
17) 35-60 arasındaki tam sayılardan bir array oluşturun, ardından bu array içinden rastgele 1 tam sayı seçin.
18) Sadece [3, 8, 10, 53] değerlerinden oluşan (2,5) shape'inde 2 boyutlu bir array oluşturun.

In [2]:
import numpy as np

In [3]:
#1) 0-29 arası(29 dahil, toplam 30 tam sayı) tam sayılardan oluşan bir boyutlu bir array oluşturun ardından bu array'in shape'ini (15,2) şeklinde güncelleyip 2 boyutlu hale getirin.
np.arange(30).reshape(15,2)

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15],
       [16, 17],
       [18, 19],
       [20, 21],
       [22, 23],
       [24, 25],
       [26, 27],
       [28, 29]])

In [4]:
#2) 60 adet rastgele tam sayı verilerinden oluşan bir boyutlu bir array oluşturun. Devamında bu array'i istediğiniz shapelerde 3 boyutlu hale getirin ve son durumda oluşan array'in boyutunu ve shape'ini kontrol edin.
arr = np.random.randint(0,60,60)
arr.reshape(3,4,5)
print(arr.shape)
print(arr.ndim)

(60,)
1

In [5]:
np.random.randint(0,60,(3,4,5))

array([[[25, 13, 41, 10, 31],
        [57, 27, 42, 17, 34],
        [57, 10,  1, 16, 56],
        [16, 31, 50, 55, 29]],

       [[55,  4, 21, 31, 45],
        [57,  7, 23,  0, 56],
        [38, 33, 14, 32, 49],
        [28, 57, 51, 43,  2]],

       [[24, 15, 59, 10,  8],
        [ 6, 38, 35, 42, 59],
        [ 7, 47, 19,  4,  8],
        [27, 16, 47, 11, 20]]])

In [6]:
#3) 20 elemanlı ve sadece rakamlardan oluşan iki boyutlu bir array oluşturun.
#Ardından bu array'i düzleştirin ve tek boyutlu hale getirin ve son durumda oluşan array'in boyutunu ve shape'ini kontrol edin.

arr = np.logspace(0,0.9,20,dtype = int).reshape(4,5)
arr

array([[1, 1, 1, 1, 1],
       [1, 1, 2, 2, 2],
       [2, 3, 3, 4, 4],
       [5, 5, 6, 7, 7]])

In [7]:
arr.flatten()

array([1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7])

In [8]:
arr = np.random.randint(0,20,(4,5))

In [9]:
arr.flatten()

array([12,  3,  3,  7,  5, 12, 11,  7, 11, 10, 18,  9, 15, 14,  9, 16, 12,
       16,  9, 18])

In [21]:
#4) İstediğiniz herhangi elemanlardan oluşan 2 Boyutlu bir array oluşturun. 
#Oluşturduğunuz bu 2 boyutlu array'in içindeki bütün elemanları hem yavaş yol olan for döngüsüyle hem de daha hızlı yol olan uygun NumPy metoduyla tek tek dönerek ekrana yazdırın.

arr = np.random.randint(10,size = (4,3)) # 10 akadar ola rastgele sayılarda oluşan 4,3 shapeinde bir array
arr

array([[5, 9, 3],
       [2, 8, 7],
       [9, 3, 0],
       [0, 8, 0]])

In [23]:
for x in arr:
    for y in x:
        print(y)

5
9
3
2
8
7
9
3
0
0
8
0

In [24]:
arr = np.random.randint(0,10,12).reshape(4,3)
arr

array([[4, 9, 3],
       [6, 2, 4],
       [0, 1, 8],
       [9, 0, 9]])

In [26]:
for x in np.nditer(arr):
    print(x)

4
9
3
6
2
4
0
1
8
9
0
9

In [27]:
#5) 5,10,15,20,25,30 değerlerinden oluşan bir boyutlu bir array ve
   #1,2,3,4,5,6 değerlerinden oluşan başka bir boyutlu bir array oluşturun.
   #Bu arraylerinin elemanlarına kendi aralarında 4 işlem uygulayın. İki arrayinde 1.indexindekiler toplansın/çıkartılsın/çarpılsın/bölünsün gibi.

In [35]:
arr1 = np.arange(5,31,5)
arr2 = np.arange(1,7)

print(arr1)
print(arr2)

[ 5 10 15 20 25 30]
[1 2 3 4 5 6]

In [31]:
arr1 + arr2

array([ 6, 12, 18, 24, 30, 36])

In [32]:
arr1 - arr2

array([ 6, 12, 18, 24, 30, 36])

In [33]:
arr1 / arr2

array([5., 5., 5., 5., 5., 5.])

In [34]:
arr1 * arr2

array([  5,  20,  45,  80, 125, 180])

In [37]:
# 6) 0-100 arası rastgele 10 tam sayıdan oluşan bir array oluşturun ve oluşturulan arrayin sum/mean/max/var/std değerlerini inceleyin.

arr = np.random.randint(0,100,10)

array([ 0, 15, 99,  1, 26, 73, 94,  4,  3, 44])

In [38]:
arr.sum()

55

In [40]:
arr.mean()

4.583333333333333

In [41]:
arr.max()

9

In [42]:
arr.min()

0

In [43]:
arr.var()

55

In [44]:
arr.std()

3.3778280332518738

In [46]:
#7) 0-20 arası(20 dahil değil) tam sayılardan oluşan ve 500-530(530 dahil) arası tam sayılardan oluşan 2 array oluşturun. Ardından bu iki array'i concatenate ederek ekrana yazdırın.
arr1 = np.arange(20)
arr1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [47]:
arr2 = np.arange(500,530)
arr2

array([500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512,
       513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525,
       526, 527, 528, 529])

In [49]:
np.concatenate((arr1,arr2),axis = 0)

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19, 500, 501, 502, 503, 504, 505,
       506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529])

In [50]:
# np.concatenate((arr1,arr2),axis = 1)  #hata veriyor

AxisError: axis 1 is out of bounds for array of dimension 1

In [52]:
print(arr1.shape)
print(arr2.shape)
#shapeleriuymadığı için sadece row olarak concatenate yapabiliyoruz.

(20,)
(30,)

In [59]:
#8) 15-50(50 dahil) arası tam sayılardan oluşan bir array oluşturun. Daha sonra 10-100 arası(100 dahil) tam sayılardan oluşan 2.bir array oluşturun.
#Bu 2 arrayi concatanate ederek 3.bir array oluşturun ve bu array'in 25.index ile 50.index'i(50 dahil) arasındaki değerlerini 888 yapın.

arr1 = np.arange(15,50)
arr2 = np.arange(10,100)

In [62]:
arr3 = np.concatenate((arr1,arr2))

In [63]:
arr3[25:51] = 888

In [64]:
arr3

array([ 15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39, 888,
       888, 888, 888, 888, 888, 888, 888, 888, 888, 888, 888, 888, 888,
       888, 888, 888, 888, 888, 888, 888, 888, 888, 888, 888, 888,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99])

In [65]:
#9) 0-40(40 dahil değil) arası değerlerden oluşan (8,5) shape'inde 2 boyutlu bir array ve  320-360(360 dahil değil) değerlerinden oluşan (8,5) shape'inde 2 boyutlubaşka bir array oluşturun. Devamında bu iki array'i hem axis = 0'da hem de axis = 1'de concatenate ederek farkı karşılaştırın.
arr1 = np.arange(0,40).reshape(8,5)
arr2 = np.arange(320,360).reshape(8,5)

In [66]:
np.concatenate((arr1,arr2),axis = 0) #satır oalrakalt alta ekliyor

array([[  0,   1,   2,   3,   4],
       [  5,   6,   7,   8,   9],
       [ 10,  11,  12,  13,  14],
       [ 15,  16,  17,  18,  19],
       [ 20,  21,  22,  23,  24],
       [ 25,  26,  27,  28,  29],
       [ 30,  31,  32,  33,  34],
       [ 35,  36,  37,  38,  39],
       [320, 321, 322, 323, 324],
       [325, 326, 327, 328, 329],
       [330, 331, 332, 333, 334],
       [335, 336, 337, 338, 339],
       [340, 341, 342, 343, 344],
       [345, 346, 347, 348, 349],
       [350, 351, 352, 353, 354],
       [355, 356, 357, 358, 359]])

In [67]:
np.concatenate((arr1,arr2),axis = 1) # yeni bir sütun olarak sağına ekliyor

array([[  0,   1,   2,   3,   4, 320, 321, 322, 323, 324],
       [  5,   6,   7,   8,   9, 325, 326, 327, 328, 329],
       [ 10,  11,  12,  13,  14, 330, 331, 332, 333, 334],
       [ 15,  16,  17,  18,  19, 335, 336, 337, 338, 339],
       [ 20,  21,  22,  23,  24, 340, 341, 342, 343, 344],
       [ 25,  26,  27,  28,  29, 345, 346, 347, 348, 349],
       [ 30,  31,  32,  33,  34, 350, 351, 352, 353, 354],
       [ 35,  36,  37,  38,  39, 355, 356, 357, 358, 359]])

In [68]:
# 10) 9.Soruda oluşturduğunuz 2 array'i axis = 2'de concatenate etmeye çalışın. Ardından axis = 2'de stacklemeye(yığınlamaya) çalışın. İkisi arasındaki farkı karşılaştırın.
#np.concatenate((arr1,arr2),axis = 2) hata veriyor

AxisError: axis 2 is out of bounds for array of dimension 2

In [71]:
np.stack((arr1,arr2),axis = 2)  # yenibir boyutta concatenate yapıyor

array([[[  0, 320],
        [  1, 321],
        [  2, 322],
        [  3, 323],
        [  4, 324]],

       [[  5, 325],
        [  6, 326],
        [  7, 327],
        [  8, 328],
        [  9, 329]],

       [[ 10, 330],
        [ 11, 331],
        [ 12, 332],
        [ 13, 333],
        [ 14, 334]],

       [[ 15, 335],
        [ 16, 336],
        [ 17, 337],
        [ 18, 338],
        [ 19, 339]],

       [[ 20, 340],
        [ 21, 341],
        [ 22, 342],
        [ 23, 343],
        [ 24, 344]],

       [[ 25, 345],
        [ 26, 346],
        [ 27, 347],
        [ 28, 348],
        [ 29, 349]],

       [[ 30, 350],
        [ 31, 351],
        [ 32, 352],
        [ 33, 353],
        [ 34, 354]],

       [[ 35, 355],
        [ 36, 356],
        [ 37, 357],
        [ 38, 358],
        [ 39, 359]]])

In [74]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

np.stack((a, b))

array([[1, 2, 3],
       [4, 5, 6]])

In [75]:
np.stack((a, b), axis = 1)

array([[1, 4],
       [2, 5],
       [3, 6]])

In [73]:
np.concatenate((a, b))

array([1, 2, 3, 4, 5, 6])

In [78]:
np.concatenate((a, b), axis = 1) #neden hata alıyorum bilmiyorum??????????????????

AxisError: axis 1 is out of bounds for array of dimension 1

In [87]:
#11) [1, 20, 25, 4, 4, 5, 4, 4, 1, 6, 9, 12, 1, 5] değerlerinden oluşan bir boyutlu bir array oluşturun. Devamında bu array'in içinde değeri 5'e eşit olan değerlerin indexleri bulun.
arr = np.array([1, 20, 25, 4, 4, 5, 4, 4, 1, 6, 9, 12, 1, 5])
np.where(arr==5)

(array([ 5, 13], dtype=int64),)

In [89]:
#12) Yukarıda oluşturduğunuz array içinde değeri çift olan değerlerin indexlerini bulun.
np.where(arr%2 == 0)

(array([ 1,  3,  4,  6,  7,  9, 11], dtype=int64),)

In [90]:
#13) Yukarıda oluşturduğunuz array içinde değeri 4'den büyük olan değerlerin indexlerini bulun.
np.where(arr > 4)

(array([ 1,  2,  5,  9, 10, 11, 13], dtype=int64),)

In [91]:
#14) Yukarıda oluşturduğunuz array içinde değeri 5'e tam bölünen değerlerin indexlerini bulun.
np.where(arr%5 == 0)

(array([ 1,  2,  5, 13], dtype=int64),)

In [94]:
#15) 85-100(100 dahil) arasından rastgele 1 tam sayı seçin
np.random.randint(85,100,1)

array([87])

In [96]:
1#6) İki basamaklı tam sayılar arasından rastgele sayılar seçerek (3,3) shape'inde bir array oluşturun.
np.random.randint(10,100,(3,3))

array([[70, 72, 88],
       [41, 75, 34],
       [67, 28, 10]])

In [103]:
#17) 35-60 arasındaki tam sayılardan bir array oluşturun, ardından bu array içinden rastgele 1 tam sayı seçin.
arr = np.random.randint(35,60,10)
arr

array([47, 53, 43, 49, 50, 36, 45, 51, 38, 51])

In [102]:
np.random.choice(arr)

51

In [104]:
#18) Sadece [3, 8, 10, 53] değerlerinden oluşan (2,5) shape'inde 2 boyutlu bir array oluşturun.

In [110]:
np.random.choice([3, 8, 10, 53],(2,5))

array([[ 3,  8,  8, 53,  3],
       [10, 53, 10,  3,  3]])